:root {
  --default-color: #d3c09a;
  --secondary-color: #f4f4f4;
  --tertiary-color: #dbe3e5;
  --link-color: #393e46;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
body {
  background: #e5e5e5;
}
nav {
  background-color: var(--secondary-color);
}
.navbar-nav {
  padding: 15px 0;
}
.navbar-nav li a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.active {
  color: var(--default-color) !important;
}
.nav-link:hover {
  color: var(--default-color) !important;
}
header {
  padding: 200px 0;
  background-color: var(--secondary-color);
}
header h2 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
header h1 {
  font-family: Playfair Display;
  font-size: 96px;
  font-weight: 400;
  line-height: 128px;
}
header h3 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #212529;
  opacity: 70%;
}
.cta-button,
.work-inquiry-button a {
  display: inline-block;
  margin: 20px 0;
  color: var(--secondary-color);
  background-color: var(--default-color);
  box-shadow: var(--box-shadow);
  padding: 18px 46px;
  border-radius: 4px;
  text-decoration: none;
}
.cta-button,
.work-inquiry-button a {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.cta-button:hover {
  color: var(--default-color);
  background-color: transparent;
  border: 1px solid var(--default-color);
  box-shadow: none;
  transition: all 200ms ease-in-out;
}
#featured-projects {
  text-align: center;
  padding: 100px 0 70px 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}

.project-intro-text h2 {
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 85px;
}
.project-intro-text p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin: 50px 0;
}
.project-link {
  margin-top: 18px;
}
.project-link a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 18px 46px;
  color: var(--default-color);
  border: 1px solid var(--default-color);
  border-radius: 4px;
  text-decoration: none;
}
.project-link a:hover {
  color: var(--secondary-color);
  background-color: var(--default-color);
  transition: all 200ms ease-in-out;
}
/*Work inquiry Section*/
.work-inquiry {
  margin: 190px 0 70px 0;
  padding: 40px 120px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.work-inquiry-text h3 {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  padding: 18px 0;
}
.work-inquiry-text p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  color: #272142;
  opacity: 70%;
}

.work-inquiry-button a:hover {
  box-shadow: none;
  color: #fff;
  transition: all 200ms ease-in-out;
}
/*About page*/
#email-link {
  color: var(--link-color);
  font-size: 24px;
  text-align: center;
}
#email-link:hover {
  color: var(--default-color);
  padding: 10px;
  text-decoration: none;
}
footer span a {
  color: var(--default-color);
  text-decoration: none;
}
footer span a:hover {
  color: var(--default-color);
  text-decoration: underline;
}
/*Media Queries*/
@media (max-width: 576px) {
  header h1 {
    font-size: 60px;
  }
  header h2,
  .contact-section h2 {
    font-size: 30px;
  }
  header h3 {
    font-size: 20px;
    opacity: 70%;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  .work-inquiry {
    margin: 90px 0;
    padding: 30px 15px;
    text-align: center;
    display: block !important;
  }
  .work-inquiry-button a {
    margin-top: 20px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
  }
}
/*About Page*/
.about-me {
  padding: 200px 0 100px 0;
}
.about-me-description h1 {
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 400;
  padding-top: 40px;
}
.about-me-description h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  color: #272142;
  margin: 30px 0;
}
.about-me-description p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(39, 33, 66, 0.7);
}
.about-me-description a {
  margin: 20px 0;
}

.about-me-photo img {
  border-radius: 20px;
}
/*Projects Page*/
.about-header {
  max-width: 70%;
  padding: 200px 0 100px 0;
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 85px;
  text-align: left;
}
.project-card {
  margin-bottom: 40px;
}
.project-card img {
  border-radius: 20px;
}
.project-card h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
}
.project-card h3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  opacity: 70%;
}

.socials a {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}
.socials a:hover {
  color: #000;
}
.social-icons {
  padding: 0 200px;
}
.social-icons svg {
  font-size: 18px;
  font-weight: 400;
  color: var(--default-color);
  padding: 20px;
  line-height: 20.7px;
  margin: 0 15px;
  border-radius: 100%;
  background: rgba(211, 192, 154, 0.1);
}
.social-icons svg:hover {
  background: rgba(211, 192, 154, 0.2);
  transition: all 200ms ease-in-out;
}
