:root {
  --default-color: #d3c09a;
  --secondary-color: #f4f4f4;
  --tertiary-color: #dbe3e5;
  --link-color: #393e46;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav {
  background-color: var(--secondary-color);
}
.navbar-nav {
  padding: 15px 0;
}
.navbar-nav li a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.active {
  color: var(--default-color) !important;
}
.nav-link:hover {
  color: var(--default-color) !important;
}
header {
  padding: 200px 0;
  background-color: var(--secondary-color);
}
header h2 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
header h1 {
  font-family: Playfair Display;
  font-size: 96px;
  font-weight: 400;
  line-height: 128px;
}
header h3 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #212529;
  opacity: 70%;
}
.cta-button {
  display: inline-block;
  margin: 20px;
  color: var(--secondary-color);
  background-color: var(--default-color);
  box-shadow: var(--box-shadow);
  padding: 18px 46px;
  border-radius: 4px;
  text-decoration: none;
}
.cta-button a {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.cta-button:hover {
  color: var(--default-color);
  background-color: transparent;
  border: 1px solid var(--default-color);
  transition: all 200ms ease-in-out;
}

.project-link {
  background-color: var(--tertiary-color);
  color: var(--link-color);
  box-shadow: var(--box-shadow);
  border: 1px solid #d6dee0;
}
.project-link:hover {
  color: var(--link-color);
  padding: 12px 9px;
  border: 2px solid #c9d1d3;
  padding: 11px 17px;
}
/*About page*/
#email-link {
  color: var(--link-color);
  font-size: 24px;
  text-align: center;
}
#email-link:hover {
  color: var(--default-color);
  padding: 10px;
  text-decoration: none;
}
footer span a {
  color: var(--default-color);
  text-decoration: none;
}
footer span a:hover {
  color: var(--default-color);
  text-decoration: underline;
}
/*Media Queries*/
@media (max-width: 576px) {
  header h1 {
    font-size: 60px;
  }
  header h2,
  .contact-section h2 {
    font-size: 30px;
  }
  header h3 {
    font-size: 20px;
    opacity: 70%;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  .contact-links a,
  .project-link {
    border-radius: 5px;
    padding: 10px 16px;
  }
  #email-link {
    font-size: 20px;
  }
}
